@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Gordita Black';
	font-style: normal;
	font-weight: normal;
	src: local('Gordita Black'), url('../font/Gordita Black.woff') format('woff');
}
body{
	margin: 0;
	padding: 0;
	background-color: #0f1014;
	color:#ffffff;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}
#content{
	padding-top: 72px;
	width:90%;
	margin: 10px auto;
}
#top{
	position: fixed;
	display: block;
	width: 100%;
	height: 70px;
	z-index: 1;
	vertical-align: middle;
	box-shadow: 0 0.0625rem 0.125rem 0 maroon;
	background-color: #ff0141;
}
#header{
	width:30%;
	height:70px;
	float:left;
}
#logo{
	margin-top: 10px;
	margin-left:15px;
	width:20%;
	animation-name: movinglogo;
	animation-duration: 3s;
	float:left;
}
@keyframes movinglogo {
  from {
	margin-left:300px;
  }
  to {
	margin-left: 15px;
  }
}  
#logoimg{
	width:40px;
}
h1{
	color:white;
	position: fixed;
	padding-left: 70px;
	vertical-align: bottom;
	font-size: 25px;
	float:left;
	font-family:'Gordita Black';
	font-weight:normal;
	
}
#nav{
	float:right;
	padding-right: 5%;
	width:65%;
	height: 70px;
	min-width:500px;
}
ul{
	float:right;
	list-style: none;
}
li{
	display: inline;
}
li a:hover, #footer p a:hover {
	color:aliceblue;
}
.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: aliceblue;
}
li > a {
	float: left;
	color:black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}
#footer{
	clear:both;
	text-align: center;
	padding-top:30px;
}
#footer p a{
	color: #ffffff;
	text-decoration: none;
	font-size: 17px;
}

